@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.container {
    @include card;
    background-color: $grey-dark;
    height: 100%;
}

.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .expandLink {
        text-decoration: none;
        color: $black-light;
    }
}

.contentArea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    .emptyProjectArea {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.alert {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}