@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.container {
    @include card;
    background-color: $grey-dark;
    height: 100%;
}

.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .expandLink {
        text-decoration: none;
        color: $black-light;
    }
}

.contentArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; 

    .emptyProjectArea {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.alert {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.8rem;
  }
  
  .tooltip.visible {
    opacity: 1;
  }

  .mapContainer {
    width: 70%;
    height: auto;
  }
  
  .legend {
    width: 30%;
    margin-left: 2%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legendItem {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 5px;
}

.legendColor {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}
