@import "_variables.scss";
@import "_mixins.scss";

.container {
    background-color: $black;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
}

.topArea {
    grid-column: 1;
    grid-row: 1;
}

.mainArea {
    grid-column: 1;
    grid-row: 2;
    overflow-y: auto;
}
